global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape Prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # Scrape Loki metrics
  - job_name: "loki"
    metrics_path: "/metrics"  # Loki's metrics endpoint
    static_configs:
      - targets: ["loki:3100"]

  # Scrape Client Service metrics
  - job_name: "client_service"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["client:8002"]

  # Scrape application metrics
  #- job_name: "application"
  #  metrics_path: "/api/metrics"  # TODO: server metrics endpoint
  #  static_configs:
  #    - targets: ["server:8001"]

  - job_name: "services"
    http_sd_configs:
      - url: "http://server:8001/api/v1/services/targets"
        refresh_interval: 15s
    scrape_interval: 5s
    # Transform the discovered targets from <service> to host:port and the corresponding URL
    relabel_configs:
      - source_labels: [service_id]
        regex:  '(.*)'
        replacement: '/api/v1/services/$1/metrics'
        target_label: __metrics_path__
      - source_labels: [service_id]
        regex:  '(.*):(.*)'
        replacement: '$2'
        target_label: replica_no
      - source_labels: [service_id]
        regex:  '(.*):(.*)'
        replacement: '$1'
        target_label: service_id
      - source_labels: [__address__]
        regex:  '.*'
        replacement: 'server:8001'
        target_label: __address__