global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape Prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # Scrape Loki metrics
  - job_name: "loki"
    metrics_path: "/metrics"  # Loki's metrics endpoint
    static_configs:
      - targets: ["loki:3100"]

  # Scrape application metrics
  - job_name: "application"
    metrics_path: "/api/metrics"  # TODO: server metrics endpoint
    static_configs:
      - targets: ["server:3000"]  # TODO: server address & port