auth_enabled: false

server:
  http_listen_port: 3100

ruler:
  alertmanager_url: http://localhost:9093
  enable_alertmanager_discovery: true
  enable_api: true

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100

# TODO: change to MinIO for production-worthy storage
schema_config:
  configs:
    - from: 2025-10-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/index_cache
    cache_ttl: 24h

pattern_ingester:
  enabled: true
  metric_aggregation:
    loki_address: localhost:3100

compactor:
  working_directory: /loki/retention
  delete_request_store: filesystem
  retention_enabled: true